@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Tenor+Sans&display=swap");

/*font-family: 'Archivo Narrow', sans-serif;
font-family: 'Tenor Sans', sans-serif;
#363636 fundo
#474747
#e8175d destaque <--
#cc527a texto
#a8a7a7 destaque secundário
*/
* {
  font-family: "Archivo", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #363636;
  text-align: center;
  line-height: 1.25;
}
h1 {
  font-size: 36px;
}
p {
  line-height: 1.5;
  font-size: 16px;
}
a {
  text-decoration: none;
  position: relative;
}
a:hover {
  text-decoration: none;
  color: #e8175d;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  bottom: -3px;
  left: 0;
  transition: all 300ms ease;
}
.link__hover-effect--white:hover {
  color: #fff;
}
.link__hover-effect--white:after {
  background-color: #fff;
}
.link__hover-effect--black:after {
  background-color: #000;
}
.link__hover-effect--black:hover {
  color: #000;
}

.link__hover-effect:hover:after {
  width: 100%;
  right: 0;
}
li {
  list-style-type: none; /*remover bullet point*/
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.container {
  padding: 50px 0;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
  display: block;
}
.text--pink {
  color: #e8175d;
}
section:nth-child(even) {
  background-color: #e0e0e0;
}
.section__tittle {
  margin-bottom: 20px;
}

/*navbar*/
nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
.nav__link--list {
  display: flex;
}
.nav__link--anchor {
  font-weight: bold;
  margin: 0 12px;
  color: #363636;
  text-decoration: none; /*remover sublinhado*/
}
.nav__link--anchor-primarybtn {
  background-color: #e8175d;
  padding: 8px 20px; /*espaço entre a palavra e borda do botão*/
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}
.nav__link--anchor-primarybtn:hover {
  background-color: #e8175d;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: 3px 4px 9px -2px #636363;
  box-shadow: 3px 4px 9px -2px #4e32397e;
  margin: 0 20px 0 10px;
}
.personal__logo, .footer__logo {
  font-size: 24px;
  color: #e8175d;
  margin: 0 12px;
  font-weight: bold;
}
/*ABOUT ME*/

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.about-me__info {
  display: flex;
  flex-direction: column;
}
.about-me__info--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}
.about-me__picture--mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  animation: animate-profile-pic 800ms 200ms backwards;
}
@keyframes animate-profile-pic {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.about-me__pic {
  width: 100%;
}
.about-me__info--title {
  margin-bottom: 15px;
  animation: fade-up 650ms 400ms backwards;
}
.about-me__info--paragraph {
  font-size: 20px;
  margin-bottom: 28px;
  animation: fade-up 650ms 400ms backwards;
}
.about-me__link {
  font-size: 20px;
  color: #363636;
  padding: 0 16px;
}
.about-me__links {
  animation: fade-up 650ms 400ms backwards;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}
.about-me__img {
  width: 100%;
  animation: fade-in 1200ms 800ms backwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*STACK LIST*/

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms;
}
.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}
.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}
.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}
.language__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}
.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
  font-size: 14px;
  color: #363636;
}
/*PROJECTS*/

.project {
  margin-bottom: 135px;
}
.project:last-child {
  margin-bottom: 40px;
}
.project__img {
  width: 100%;
  transition: all 500ms ease;
}
.project__wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #363636;
  opacity: 0;
  transition: all 450ms ease;
  z-index: 2;
}
.project:hover .project__wrapper:before {
  opacity: 0.7;
}
.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}
.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%); /*efeito texto: aparecer de baixo para cima*/
}
.project__list {
  padding-top: 40px;
}
.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%); /*efeito texto: posição inicial*/
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}
.project__description--title {
  font-size: 40px;
}
.project__description--paragraph {
  margin: 16px 0;
}
.project__description--link {
  font-size: 20px;
  margin-right: 16px;
}
.project__description--title,
.project__description--sub-title,
.project__description--paragraph,
.project__description--link {
  text-align: left;
  color: #fff;
}
/*FOOTER*/

footer {
  background-color: #363636;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.footer__logo{
  margin-bottom: 15px;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 0;
}

.footer__social--link,
.footer__copyright,
.footer__logo--go-top {
  color: #fff;
}
.footer__copyright{
    opacity: 0.4;
    font-size: 12px;
    text-align: center;
}
.footer__logo--go-top {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}
.footer__anchor {
  margin-bottom: 20px;
  position: relative;
}
.footer__anchor:hover .footer__logo--go-top {
  transform: translateX(60px);
  opacity: 1;
}
/*media queries*/
@media (max-width: 760px) {
  nav {
    height: 68px;
  }
  h1 {
    font-size: 28px;
  }

  .about-me__info--paragraph {
    font-size: 18px;
  }
  .language {
    width: calc(100% / 3);
  }
  .project__description--paragraph {
    font-size: 12px;
  }
  .project__description {
    left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 480px) {
  .nav__link:not(:last-child) {
    display: none;
  }
  .project__description {
    padding: 0;
    left: 0;
    width: 100%;
  }
  .project__description--paragraph {
    display: none;
  }
  .project__description--links {
    display: flex;
    justify-content: center;
  }
  .project__description--title {
    font-size: 32px;
    line-height: 1;
    text-align: center;
  }
  .project__description--sub-title {
    text-align: center;
    margin: 12px 0;
  }
}
